.img {
  height: 486px;
  width: 324px;
}

.item-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  max-width: 400px;
  margin-bottom: 50px;
}

.poster {
  width: 100%;
}

.card-box {
  display: flex;
  justify-content: space-between;
}
