* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  //outline: none;
}

body {
  padding: 20px 60px;
  background-color: #232323;
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}
