//
//.headerSet {
//  height: 1100px;
//  position: relative;
//}
//
//.main {
//
//  display: flex;
//  justify-content: center;
//  flex-flow: column;
//  align-items: center;
//  position: absolute;
//  right: 0;
//  left: 0;
//  top: 0;
//  bottom: 0;
//  width: 100%;
//
//}
//

main {
  color: rgba(255, 255, 255, 0.72);
  margin-top: 20px;
}

.page404 {
  text-align: center;
}
