.header-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-radius: 7px;
  border-color: #f65261;
  cursor: pointer;
  overflow: hidden;
  width: 150px;
  height: 50px;
  font-size: large;
  color: #f65261;
  margin-left: 1200px;
  margin-top: 20px;
}
